PYDANTIC_V2=1

DIAL_URL=DIAL_URL

CHAT_MODEL=gpt-5.2-2025-12-11
EMBEDDINGS_MODEL=gemini-embedding-2-preview
API_VERSION=2024-02-01

# Enabling debug logs for DIAL SDK
DIAL_SDK_LOG=debug

# Enabling debug logs for OpenAI and Langchain
OPENAI_LOG=debug
LANGCHAIN_DEBUG=true

PORT=5000
