# aidial-sdk>=0.9
git+https://github.com/epam/ai-dial-sdk.git@development
langchain==0.2.5
langchain-community==0.2.5
langchain-openai==0.1.8
langchain-text-splitters==0.2.1
tiktoken==0.7.0
openai==1.34
beautifulsoup4==4.12.2
chromadb==0.5.0
uvicorn==0.30.1
pypdf==4.2.0