name: Code checks - tests

on:
  pull_request:
    branches:
      - development
      - release-*

jobs:
  run_tests:
    uses: epam/ai-dial-ci/.github/workflows/test_python_package.yml@0.1.0
    secrets: inherit
    with:
      bypass_checks: false
      python_version: 3.11
