name: Release Workflow

on:
  push:
    branches: [development, release-*]

jobs:
  release:
    uses: epam/ai-dial-ci/.github/workflows/python_package_release.yml@1.7.0
    secrets: inherit
    with:
      python_version: 3.8
